<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet"> <!-- Baloo 2 font -->
    <link rel="stylesheet" href="/reset-password.css">
    <title>Reset Password</title>
</head>
<body>

    <div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
        <div class="card shadow-lg">
            <img src="/assets/logo.png" alt="Logo" class="logo">
            <div class="card-body p-5">
                <h1 class="card-title mb-3" style="color: #680A76; font-weight: bold;">Reset Your Password</h1>

                <form action="/reset-password" method="POST" >
                    <div class="form-group mb-3 mt-5">
                        <input type="hidden" name="token" value="<%= token %>">
                        <div class="form-group">
                            <label for="newPassword">New Password:</label>
                            <input type="password" name="newPassword" required class="form-control" placeholder="New Password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
    
    
</body>
</html>
