body {
    margin: 0;
    font-family: 'Baloo 2', cursive; /* Baloo 2 font applied */
}

.card {
    border-radius: 15px; /* Rounded corners for the card */
    width: 100%;
    height: 500px; /* Fixed height; consider changing for smaller screens */
}

.card-body {
    border-radius: 15px; /* Ensure inner content also has rounded corners */
    padding: 2rem; /* Add padding for content */
    position: relative; /* Ensure positioning for the background */
}

.card-body img {
    width: 150px; /* Bigger logo */
    height: auto; /* Maintain aspect ratio */
}

input::placeholder {
    font-style: italic; /* Italicize placeholder text */
    
}

input.form-control {
    background-color: #EFF9FC; /* Set background color for input fields */
    border: 1px solid #b3e5fc; /* Optional: adjust border color */
    border-radius: 25px; /* Higher value for more rounded edges */
    padding: 0.5rem 1rem; /* Add padding for a better appearance */
    height: 35px; /* Set height for inputs */
    line-height: 1; /* Adjust line-height for better text alignment */
}

.toggle-password {
    cursor: pointer; /* Change cursor for toggle icon */
}

.card-body.p-5 {
    background-image: url('shape.png');
    background-repeat: no-repeat;
    background-position: center;  
    background-size: inherit; /* Set to inherit to maintain size */
}

.card-body.p-4 {
    position: absolute;
    bottom: 0;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position to center */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center the items */
    width: 100%; /* Take full width */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        height: auto; /* Auto height for smaller screens */
        margin: 20px; /* Add margin for spacing on smaller screens */
    }

    .card-body {
        padding: 20px; /* Add padding to card body */
    }

    .card-body.p-4 {
        position: static; /* Adjust positioning for smaller screens */
        transform: none; /* Remove transform for better stacking */
    }

    input.form-control {
        height: 35px; /* Set height for inputs */
    }
    .card-text {
       font-size: 12px !important;
    }

    .card-title {
        font-size: 25px !important;
    }

    .img-fluid {
        width: 100px !important;
    }
}


@media (max-width: 480px) {
    .card {
        max-width: 700px; /* Set max width for larger screens */
    }
}
