body {
    font-family: 'Baloo 2', cursive;
    background-color: #89D6F8;
}

.card {
    max-width: 700px;
    width: 100%;
    position: relative;
    background: url('/shape.png') no-repeat center center;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 150px; 
    height: 150px; 
}
.btn-primary {
    background-color: #6773FF;
    border-color: #6773FF;
}